<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish Item</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <nav class="row d-md-flex justify-content-md-end m-3">
        <a href="/dashboard" class="mx-3">Home</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="container">
        <h2>{{product.item}}</h2>
        <h4 class="my-4">Users who added this product/item under their wish list:</h4>
        {% for user in product.users.all %}
            <p>{{ user.name }}</p>
        {% endfor %}
    </div>
</body>
</html>